:root {
  --primary-body-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --decoration-text-color: #2196f3;
  --accent-color: #f5f4fa;
  --studio-color:#000000;
  --solution-color:#2f303a;
  --solution-button-color: #188ce8;
  --footer-color:rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-body-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}

.button {
  background-color: var(--accent-color);
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button:hover,
.button:focus {
  background-color: var(--decoration-text-color);
  color: var(--primary-body-color);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  font-family: inherit;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: var(--decoration-text-color);
}

.link.current{
  color: var(--decoration-text-color);
}
/* main page */
.studio {
  color: var(--studio-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--decoration-text-color);
  text-decoration: none;
}
.solution {
  background-color:var(--solution-color);
}
.solution-title {
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-body-color);
}

.solution-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--primary-body-color);
  background-color: var(--decoration-text-color);
}
.solution-button:hover,
.solution-button:focus {
  background-color: var(--solution-button-color);
  cursor: pointer;
}

.list-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.list-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.image-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: inherit;
  letter-spacing: inherit;
}
.image-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

.footer {
  background: var(--solution-color);
}
.footer .studio{
  text-decoration: none;
  color: var(--primary-body-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-style: normal;
}
.footer-link {
  text-decoration: none;
  line-height: 1.71;
  font-style: normal;
  color:var(--footer-color);
}

.footer-address {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: var(--primary-body-color);
}
/* portfolio */
.work-link {
  text-decoration: none;
}
.works-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.works-text {
  font-size: 16px;
  line-height: 1.188;
  color: var(--secondary-text-color);
}
